*{  /* Set default margins to 0 for all elements, and declare fonts I am using */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Gill Sans", "Arial", sans-serif, "helavetica";
}

#wrapper{ /* class that wraps around head, main, nav, and footer*/
   width: 80vw; /* width of page become 80% of width of screem */
   margin: auto; /* make margin even on both sides */
    background-color:  #f0f4f8;



}

#container{ /* make nav and main side by side */
    display: flex;
    flex-direction: row;
    width: 100%;



}

header, footer{ /* make the header and footer encompass 100% of its parent */
    background-color: steelblue;
    width : 100%;
    padding-left: 5px;


}
header{ /* give the header more space, makes text less cramped */
    padding-top: 5px;
    padding-bottom: 5px;


}
footer{ /* adjust size of footer */
    font-size: calc(3px + 2vw);


}
nav{ /* make nav bar the  30% of the width of its parents always*/
    background-color: dimgray;
    width : 30%;
    padding-top: 2vw;

(   2px + 1.5vw);
}
main{
    width : 70%; /* fill in the other 70% */
    display: flex;
    flex-direction: row; /* the main content is now alligned in a row */
    background-color:  #f0f4f8;

    height: 100vh; /* Flexible but ensures full coverage */
    justify-content: center;


}
#bot{
    padding-top: 3vw;
    display : flex;
    flex-direction: row; /* Make the short bio and image side by side */
    width: 100%;
    text-align: center;
    padding-bottom: 2vh ;
    padding-right: 2vw;

}

#intro{
    padding: 0 3vw; /* make intro more spacious */
    font-size: calc(15px + 2vh); /* make text grow/shrink with scrren */
}
#bio{
     /* bio more spacious */
    font-size: calc(15px + 2vh); /* make text grow/shrink with scrren */
    padding-left: 1vw
}
#bot img{
    max-width: 20vw; /* adjust headshot size */
    height: auto;
    padding-right: 1vw;
    padding-left: 2vw;
}
main p{
    text-align: center;
}


main h2{ /* make h2s centered and edit size*/
    padding: 2vh;
    text-align: center;
    font-size: calc(20px + 2vw);
    font-family: "Arial", sans-serif, "helavetica"; /* different font for home */
}


ul{ /*remove bullet points */
    list-style: none; /* remove bullet points */

}

ul li{  /* make the navigation bar, edit borders, font size, and make spacious*/
    border: black solid 1px;
    background-color: lightgray;
    font-size : calc(8px + 2vw);
    padding: 10px;
    margin: 20px auto; /* auto center */
    width: 80%; /* only makes up 80% of parents */
    color:steelblue;
    text-align: center;
}

/* starting on education */
    .main-inner { /* make education center */
        width: 100%;

        text-align: center;
        padding-top: 3px;
        padding-bottom: 0;
    }
    #education li{ /* make golden border on left */
        list-style: none;
        border: none;
        border-left: goldenrod solid 3vw;

    }
    #education{
        padding-bottom: 2vh;
        padding-top: 0;
    }
    #bu, #pc{ /* make image size squares, and adjust with page */
        width : 10vw;
        height: 10vh;
        padding: 1vh 1vw;
        background-color: transparent;
    }
    #pc_bio{
        padding-top: 1vh;
        padding-bottom: 1vh;
        font-size: calc(8px + 1vh);



    }
    /* next sections edit inside of the sections, alligns items, and makes font: sep, moves image to the side of text */
        #pc_sep{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        #bu_bio{
            padding-top: 2vh;
            font-size: calc(8px + 1vh);

            text-align: center;

        }

        #bu_sep{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;}

        #coursework ul li {

            font-size: calc(8px + 1vh);
               padding:0;
            border-left:red solid 3px;

        }

/* experience starts here */
    #exp-inner{ /* center and make table 95% width  */
        width: 95%;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 0;


    }
    #exp-inner h2{ /* add padding beneath main header */
        padding: 2vh;


    }

    #exp-inner table{ /* collapse border to remove extra white space and edit border color */
        width: 90%;
        border-collapse: collapse; /* merges adajcent borders into one single border */
        border: 3px solid steelblue;
        margin: 0 auto;
        padding: 2vh 0;
    }
    #exp-inner table td{ /* edit font inside table */
        font-size: calc(8px + 2vh);
        padding: 1vw;
        border: 3px solid steelblue;
    }

/*skills staarts here

*/
    #skills-inner ul li { /* edit font size of skills content */
        border: none;
        background-color: transparent;
        border-left: solid red 5px;
        padding: 0;

        font-size: calc(3px + 2vh);
        margin-top: 3vh;
        padding-left: 1vw;



    }
    #skills-inner h3{
        font-size: calc(5px + 2vh);
    }
    #skills-inner h2{
        padding-top: 3vh;
    }
    #skills-inner{ /* make the list display in a single column */
        display: flex;
        flex-direction: column;
        padding-left:5vw;



    }
/* contacts start here */
    #contact-inner table { /* edit font size */
        font-size: calc(5px + 2vh);
        background-color: lightblue;

    }
    #contact-inner table td{ /* design borders */
        border-color: steelblue;
        border-style: solid;
        border-width: 3px;
        padding-bottom: 3vh;



    }

    #contact-inner { /* make the elements display as a colum */
        display: flex;
        flex-direction: column;
        width: 95%;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 0;
        margin: 0 auto;
    }
    #contact-inner h3{
        padding: 2vh;
        font-size: calc(5px + 2vh);
    }






@media screen and (max-width: 750px) {
    /* if the screen is below 750-px
       edit the display */
    #container { /* nav is now above column, both are 100% width of its parents*/
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    main { /* edit padding */
        width: 100%;

        padding-top: 5px;
    }


    nav { /*edit padding */
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%;
    }

    ul { /* make links appear in a row */
        display: flex;
        flex-direction: row;

    }

    ul li { /* adjust font size and padding */
        font-size: calc(2px + 1.4vw);
        padding: 2px;
        margin: 10px auto;
        width: 15%;

    }
/* change font size to fit smaller screen */
        #intro {
            font-size: calc(5px + 2vh);
        }

        #bio {
            font-size: calc(5px + 2vh);
        }

    #bot { /* adjust image and bio to vertical apperance */
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 3vh;

    }

    main p {
        text-align: center;
    }

    #bot img { /*center image */
        max-width: 30vh;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-bottom: 3vh;
    }

    header {
        text-align: center;
    }
    /* experience starts here */
       #exp-inner table{
           margin: 4vh auto;
       }
        #exp-inner table td{
            font-size: calc(8px + 2vh);
            padding: 1vw;
            border: 3px solid steelblue;
        }
        #exp-inner h2{
            font-size: calc(10px + 2vh);
        }

    /* education < 1000px */
        #education { /* ensure education tables  displays as a column */
            display: flex;
            flex-direction: column;


        }

        #education li {
            width: 90%;
            font-size: calc(2px + 2vh);
            margin: 2vh auto;


        }

    #skills-inner ul li {
        border: none;
        background-color: transparent;
        border-left: solid red 5px;
        padding: 0;

        font-size: calc(1px + 2vh);
        margin-top: 3vh;
        padding-left: 1vw;


    }
    /* skills starts here */
        #skills-inner h2 {
            padding-top: 3vh;
        }

        #skills-inner { /* change skills to 3 in a row to fit */
            display: flex;
            flex-direction: column;
            padding-left: 5vw;
        }
    /* contact starts here */
        #contact-inner table {

            font-size: calc(5px + 1vh);
            background-color: lightblue;
        }
        #contact-inner table{
            margin: 4vh auto;
        }

}




